/* Main page formatting */
@import url('https://fonts.googleapis.com/css?family=Acme|Josefin+Sans|Open+Sans+Condensed:300|Oxygen|PT+Sans+Narrow');

	#content {
       max-width: 100%;
       margin: 0 auto;
       background-color: #DCDCDC;
       padding-top: 10px;
	   font-family: Comic Sans Ms;
     }
	 
	 h1 {
		 color: black;
		 text-align: center;
		 padding: 10px;
		 font-size: 2.25em;
		 line-height: 1.1em;
	 }	 
	 
	 p {
		 color: #3E0460;
		 text-align: center;
		 padding: 10px;
		 font-size: 1.5em;
		 line-height: 1.5em;
	 }

	form {
		text-align: center;
	}
	
	.row {
		display: flex;
		box-sizing: border-box;
	}
	
	.col {
		flex: 50%;
		padding: 10px;
		
	}